/* Write your CSS here */
.button {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  color: #303150;
  padding: 15px 20px;
  width: 200px;
  border-radius: 7px;
  margin-top: 20px;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
}
